<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-toggle menu="mainMenu">
                <ion-button fill="clear">
                    <ion-icon color='light' slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title class="ion-text-center">經驗分享與實作練習</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list style="padding: 10px;">
        <div>
            <ion-row class="ion-no-padding">
                <ion-col size="auto">
                    <h3>Progressive Web App </h3>
                </ion-col>
                <ion-col size="12" size-sm>
                    <h3>漸進式網頁應用程式</h3>
                </ion-col>
            </ion-row>
            <ion-item>           
                <img src="assets/icon/favicon.png" />
                <h2>&nbsp;實作是一個探索的過程. . . . . .</h2>
            </ion-item>

            <br><br>
            <ion-item>
                <img src="assets/icon/pwa.png" />
            </ion-item>

        </div>
    </ion-list>
</ion-content>