ion-icon.icon-style {
    font-size: 26px; //Preferred size here
    color:blue;
    padding-right: 5%;
}
ion-icon.icon-style1 {
    //font-size: 25px; //Preferred size here
    color:limegreen;
    padding-right: 5%
}
.myMOUSE {
    cursor: pointer;
    //color:blue;
}